<p>Hola {{ name }}</p>
<p>Es un placer notificarle que  el Organizador {{nameOrganizer}} lo ha  seleccionado para ser encargado del evento {{ nameEvent }} con los siguientes detalles:</p>
   

<p>fecha de inicio :{{startDate}}</p>
<p>fecha de finalizacion :{{endDate}}</p>
<p>hora de inicio :{{startHour}}</p>
<p>hora de finalizacion :{{endHour}}</p>
<p>modalidad :{{modality}} </p>


<p></p>
<p>Si tiene alguna duda favor avocarse al Organizador {{ name }} con correo {{emailOrganizer}} </p>