<p>Hola {{ name }}</p>
<p>Es un placer notificarle que se le ha  seleccionado para ser encargado del evento {{ nameEvent }} con los siguientes detalles:</p>
   

<p>fecha de inicio :{{startDate}}</p>
<p>fecha de finalizacion :{{endDate}}</p>
<p>hora de inicio :{{startHour}}</p>
<p>hora de finalizacion :{{endHour}}</p>
<p>modalidad :{{modality}} </p>


<p></p>
<p>Para Mayor informacion puede dirigirse a la aplicacion y ver mas detalles del evento y su Organizador <a href="http://localhost:4200/inicio">click aqui </a> </p>